@font-face {
    font-family: "cool-font";
    src: url("assets/Permanent_Marker/PermanentMarker-Regular.ttf");
}

* {
    --cell-color: rgb(236, 235, 235);
    --active-player: rgb(250, 166, 166);
    --winning-row: rgb(77, 185, 77);
    font-family: "cool-font";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 0;
}

h1 {
    margin: 0px;
    font-size: 3rem;
}

.players{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.player-container {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;;
    font-size: 1.5rem;
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px var(--cell-color);
}

.play-grid {
    width: fit-content;
    display: grid;
    grid-template: repeat(3, 110px) / repeat(3, 110px);
    gap: 5px 5px;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: var(--cell-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: rgb(69, 68, 68);
}

.cell:hover{
    width: 103px;
    height: 103px;
    box-shadow: 0px 0px 3px 3px var(--cell-color);
    transition-duration: 0.2s;
    cursor: pointer;
}

.circle {
    width: 80px
}

.cross {
    width: 100px
}

.round-winner {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    backdrop-filter: blur(7px);
}

.round-winner:hover {
    cursor: pointer;
}

.round-winner > p {
    color: rgb(44, 44, 44);
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.announcement {
    font-size: 3rem;
}

footer {
    position: absolute;
    bottom: 15px;
}

a {
    color: var(--winning-row);
}